### Cleaning data part 2: fake names dataset

In [1]:
import numpy as np
import pandas as pd
import scipy.optimize
import scipy.stats

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

import matplotlib as mpl
from matplotlib import pyplot as plt
import hedgeplot as hplt

import time
from datetime import datetime
import dateutil

# import statsmodels.api as sm
# from statsmodels.stats.outliers_influence import variance_inflation_factor

data_file = "./data/clean-2/changed/FakeNames-UTF8.csv"

df = pd.read_csv(data_file) 
df.columns

Index(['Number', 'Gender', 'NameSet', 'Title', 'GivenName', 'MiddleInitial',
       'Surname', 'AmountPaid', 'StreetAddress', 'City', 'State', 'StateFull',
       'ZipCode', 'Country', 'CountryFull', 'Feedback', 'EmailAddress',
       'Username', 'Password', 'BrowserUserAgent', 'TelephoneNumber',
       'TelephoneCountryCode', 'MothersMaiden', 'Birthday', 'TropicalZodiac',
       'CCType', 'CCNumber', 'CVV2', 'CCExpires', 'NationalID', 'UPS',
       'WesternUnionMTCN', 'MoneyGramMTCN', 'Color', 'Occupation', 'Company',
       'Vehicle', 'Domain', 'BloodType', 'Pounds', 'Kilograms', 'FeetInches',
       'Centimeters', 'GUID', 'Latitude', 'Longitude'],
      dtype='object')

Format the birthday as YYYY-mm-dd. Leave 'NaN' rows alone.

In [5]:
format_date = lambda d: datetime.strptime(d, "%m/%d/%Y").strftime('%Y-%m-%d')
df['Birthday'] = df[df['Birthday'].notnull()]['Birthday'].apply(format_date)

TypeError: strptime() argument 1 must be str, not Timestamp

Get the number of null rows for the AmountPaid

In [ ]:
df[df['AmountPaid'].isnull()]['AmountPaid'].shape[0]

Apply the money format to non null rows

In [ ]:
format_balance = lambda b: float(b.replace(',', '').strip('$'))
df['AmountPaid'] = df[df['AmountPaid'].notnull()]['AmountPaid'].apply(format_balance)

In [ ]:
df[df['AmountPaid'].isnull()]['AmountPaid'].shape[0]

In [ ]:
type_df = pd.DataFrame()
type_df['column'] = df.columns
type_df['type'] = [df[c].dtype for c in df.columns]
type_df

In [ ]:
group_field = 'TropicalZodiac'
df[[group_field, 'Number']].groupby(group_field).count()